.container--chat {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 80vh;
  transform:rotateX(180deg);
                -moz-transform:rotateX(180deg); /* Mozilla */
                -webkit-transform:rotateX(180deg); /* Safari and Chrome */
                -ms-transform:rotateX(180deg); /* IE 9+ */
                -o-transform:rotateX(180deg); 
}

.chat {
  transform:rotateX(180deg);
                -moz-transform:rotateX(180deg); /* Mozilla */
                -webkit-transform:rotateX(180deg); /* Safari and Chrome */
                -ms-transform:rotateX(180deg); /* IE 9+ */
                -o-transform:rotateX(180deg);
}


.bubble {
	border-radius: 1em;
	padding: 0.25em 0.75em;
	margin: 0.0625em;
  max-width: 50%;
  width: 100px;
  
  &--me {
    color: white;
    background-color: cornflowerblue;
  }
  &--other {
    color: black;
    background-color: #efefef;
  }
}